<div class="modal-header">
  <h4 class="modal-title pull-left">New File</h4>
  <button class="close pull-right" type="button" aria-label="Close">
    <span (click)="modal.hide()">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form>
    <div class="form-group">
      <input type="file" class="form-control-file" (change)="onFileChange($event)">
    </div>
  </form>

  <progressbar [value]="percentage">
  </progressbar>
</div>

<div class="modal-footer">
  <button class="btn btn-light" (click)="modal.hide()">Close</button>
  <button class="btn btn-info" [disabled]="fileForm.invalid" (click)="upload()">Upload</button>
</div>