<h4 class="display-4">Files</h4>
<p class="lead">Upload & download your files</p>

<div class="row pb-3">
  <div class="col">
      <button class="btn btn-primary btn-lg" (click)="openModal()">New file</button>
  </div>
</div>


<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col"></th>
        <th  scope="col" (click)="sort1()"><a style ="cursor: pointer;">
          <i class="fa fa-fw fa-arrow-up" *ngIf="this.nameCounter==1 && this.fileService.nameArrow==1"></i>
          <i class="fa fa-fw fa-arrow-down" *ngIf="this.nameCounter==-1 && this.fileService.nameArrow==1"></i>
          
          Name</a>
        </th>
        <th  scope="col" (click)="sort2()"><a style ="cursor: pointer;">
          <i class="fa fa-fw fa-arrow-up" *ngIf="this.dateCounter==2 && this.fileService.dataArrow==1"></i>
          <i class="fa fa-fw fa-arrow-down" *ngIf="this.dateCounter==-2 && this.fileService.dataArrow==1"></i>
          
          Date</a>
        </th>
        <th  scope="col" (click)="sort3()"><a style ="cursor: pointer;">
          <i class="fa fa-fw fa-arrow-up" *ngIf="this.sizeCounter==3 && this.fileService.sizeArrow==1"></i>
          <i class="fa fa-fw fa-arrow-down" *ngIf="this.sizeCounter==-3 && this.fileService.sizeArrow==1"></i>
          
          Size</a>
        </th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let file of files|paginate:config">
        <th scope="row">
          <img src="{{file | imagePath}}" alt="file extension logo" width="30">
        </th>
        <td>{{ file.filename }}</td>
        <td>{{ file.uploadDate | date: 'short' }}</td>
        <td>{{ file.length / 1024 / 1024 | number }} MB</td>
        <td>
          <a href="{{'http://localhost:3000' + fileService.fileUrl + '/' + file._id}}"
            class="btn btn-primary btn-sm mr-2"
            target="_blank"
            download="{{ file.filename }}">
            <i class="fa fa-download"></i>
          </a>
          <button class="btn btn-danger btn-sm" (click)="fileService.delete(file).subscribe()">
            <i class="fa fa-remove"></i>
          </button>
        </td>
      </tr>
     
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      
      <li *ngIf="this.fileService.my_page!=1" class="page-item text-primary"><a class="page-link text-primary" (click)="prevPage()">Previous</a></li>
      <li *ngIf="this.fileService.my_page==1" class="page-item text-primary"><a class="page-link text-secondary" (click)="prevPage()">Previous</a></li>
      <li *ngFor="let p of this.fileService.list" class="page-item text-primary ">
        <a *ngIf="this.fileService.my_page!=p" class="page-link text-secondary "(click)="pPage(p)" >{{(p)}}</a>
        <a *ngIf="this.fileService.my_page==p" class="page-link text-primary "(click)="pPage(p)" >{{(p)}}</a>
      </li>
      <li *ngIf="this.fileService.my_page==this.fileService.list.length" class="page-item text-primary"><a class="page-link text-secondary" (click)="nextPage()">Next</a></li>
      <li *ngIf="this.fileService.my_page!=this.fileService.list.length" class="page-item text-primary"><a class="page-link text-primary" (click)="nextPage()">Next</a></li>

      
    </ul>
  </nav>